<h1>Exercise Log</h1>

<form action = >
        <input type="hidden" name="id">
    <br>
    <label> exercise name:
        <input type="text" name="name_input" size="30" maxlength="100" required>
    </label>
    </br>
    <label>reps:
        <input type="number" name="reps_input" size="10" maxlength="10">
    </label>
    </br>
    <label>weight used:
        <input type="number" name="number_input" size="10" maxlength="10">
    </label>
    <label>
        <input type="radio" name="kilos" /> kilos</label>
        <input type="radio" name="lbs" /> lbs</label>
    </br>
    <label>date:(MM-DD-YYYY)
        <input type="text" name="date_input" size="30" maxlength="10" >
    </label>
    </br>
    <input type="submit" value="Save">
</form>
<table>
    <caption>Excerise Log</caption>
    <thead>
        <tr>
            <th>name</th>
            <th>reps</th>
            <th>weight</th>
            <th>unit</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
        <tr>{{name}}</tr>
        <tr>{{reps}}</tr>
        <tr>{{weight}}</tr>
        <tr>{{unit}}</tr>
        <tr>{{date}}</tr>

    </tbody>
</table>
